{% extends 'home/base.html' %}
{% load static %}



{% block title %}
African Design Matters Privacy Policy
{% endblock title %}



{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'home/css/privacy.css' %}">
</head>

<div id="privacy">
    <div class="heading">
        <h1>
            African Design Matters Privacy Policy
        </h1>
    </div>
    <div class="text">
        Last Updated: Aug 20, 2023
        This Privacy Policy outlines how African Design Matters collects, uses, and protects the personal
        information of our website users who visit and interact with our website
        [www.africandesignmatters.com] .
        1. Information We Collect
        We may collect the following types of information:
        • Personal Information: This may include your name, email address, contact information, and
        other identifiable details that you provide voluntarily through our website.
        • Usage Data: We may automatically collect information about how you interact with our
        website, such as your IP address, browser type, operating system, pages visited, and referring
        links.
        2. How We Use Your Information
        We use the collected information for the following purposes:
        • To provide and improve our services, customize user experience, and respond to user inquiries.
        • To send periodic emails and updates related to our services, promotions, or other relevant
        information. You can opt-out of these communications at any time.
        • To analyze and understand user preferences, trends, and behavior to enhance our website's
        functionality and content.
        3. Sharing of Information
        We may share your information under the following circumstances:
        • With trusted third-party service providers who assist us in operating our website and providing
        services. These providers are bound by confidentiality agreements.
        • When required by law, to protect our rights or the safety of others, or in response to legal
        requests.
        4. Cookies and Tracking Technologies
        We use cookies and similar technologies to enhance user experience and collect usage data. You can
        adjust your browser settings to manage cookies or opt-out of certain tracking features.
        5. Data SecurityWe implement reasonable security measures to protect your information from unauthorized access,
        alteration, disclosure, or destruction.
        6. Your Choices
        You have the right to access, correct, or delete your personal information. You can also opt-out of
        receiving marketing communications from us.
        7. Changes to this Policy
        We reserve the right to update this Privacy Policy periodically. The updated version will be posted on
        our website with the effective date.
        8. Contact Us
        info@africandesignmatters.com
    </div>

</div>

{% endblock content %}